{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class = " table table-stripped">
        <thead>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transaction</th>
        </thead>
        <tbody>
            {% for holding in holdings %}
            <tr>
                <td>{{holding["symbol"]}}</td>
                <td>{{holding["shares"]}}</td>
                <td>{{holding["price"]}}</td>
                <td>{{holding["transaction"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}